{% extends "base.html" %}

{% block title %}Solicitud de Contraseña{% endblock %}

{% block menu %}
    </br>       
{% endblock menu %}
{% block content %}   
      <form id="formulario"  class="col-9">
               <div class="field_container"> 
                    <div class="form-row">
                           <h4>Te hemos enviado un correo con un enlace para reestablecer tu contraseña</h4>
                    </div>                      
                </div>
            <br>  
        </form>
{% endblock content %}
{% block  extrafooter %}
    <br><br><br>
{% endblock %}